<div class="details-section" *ngIf="category">




    <div class="section-posts box">
        <div class="posts">
            <h1>{{category.categoryName}}</h1>
            <h2>Posts</h2>
            <div class="post-item" *ngFor="let post of category.posts">
                <div class="post-content">
                    <!-- <h1>Kyoto Temples</h1> -->
                    <p>Added by: <span>{{post.userId.username}}</span> on <span>{{post.created_at}}</span></p>
                    <div class="description">

                        <p>{{post.text}}</p>
                      
                    </div>
                    <span>{{post.likes.length}} likes</span>
                  
                </div>
                <div class="post-img">
                    <img src={{post.image}}>
                    <div class="owner">
                        <!-- <button class="edit">Edit</button> -->
                        <button *ngIf="post.userId._id === authService.currentUser?._id" class="delete" 
                        (click)="showConfirmation(post._id)">Delete</button>
                    </div>

                    <div class="react">
                        <button  *ngIf="post.userId._id !== authService.currentUser?._id &&
                        !hasUserLikedPost(post)" (click)="likePost(post._id)" class="like">Like</button>
                        <p *ngIf="hasUserLikedPost(post)" class="success">You have liked this post!</p>
                        
                    </div>
              

                </div>
          
                <div class="dark-overlay" *ngIf="showDeleteConfirmation">
                    <div class="confirmation-window">
                        <p>Are you sure you want to delete this post?</p>
                        <div class="choice-btns">
                            <button (click)="deletePost()">Yes</button>
                            <button (click)="hideConfirmation()">No</button>
                        </div>
              
                      </div>

                </div>
              
            </div>
            <div *ngIf="category.posts.length === 0" class="no-posts">No posts yet!</div>
          
        </div>
     
        <div class="add-post-section">
            <div class="container-form">
                <form #f="ngForm" (ngSubmit)="onSubmitAddPost(f)" class="addPostForm">
                    <h2>Add Your Post</h2>
                    <ul class="noBullet">
                        <li>
                            <label for="postImage">Image:</label>
                            <input #postImage="ngModel" type="text" class="inputFields" id="postImage" placeholder="http:/..." name="postImage"
                            ngModel required />

                            <p class="error" *ngIf="postImage.touched && postImage.errors?.required">
                                Image is required!
                              </p>

                        </li>
                        <li>
                            <label for="postText">Description:</label>
                            <textarea #postText="ngModel" id="postText" class="inputFields" name="postText" ngModel required
                                minlength="20" placeholder="Tokyo, the heart of Japan..."></textarea>

                            <p class="error" *ngIf="postText.touched && postText.errors?.required">
                                Post text is required!
                            </p>
                            <p class="error" *ngIf="postText.touched && postText.errors?.minlength">
                                Post text must be at least 20 characters long!
                            </p>
                        </li>

                      

                        <li id="center-btn">
                            <button [disabled]="f.invalid" id="create-btn">Add Post</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>

    </div>

</div>
<app-loader [isLoading]="!category"></app-loader>
