@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Sofia+Sans&display=swap');






/* Recent posts section */
.recent-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;

}

.headline {
    margin-bottom: 3em;
    text-align: center;
    width: 100%;
    /* font-size: 200%; */
    /* background-color: rgba(36, 35, 35, 0.688);; */
}

.headline>hr {
    width: 90%;
    margin: auto;
}

.headline>p {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 1.5em;
}

