<p>home works!</p>

<div class="section-1-home box"></div>
<div class="section-2 box">
    <div class="sec-2-head-splash">

        <h1>JAPAN</h1>
        <h2>Land of the Rising Sun</h2>
    </div>
    <div class="sec-2-para">

        <p>

            Japan is a country of incredible contrast, a mind-blowing mix of the ultra modern and ultra
            traditional. From the buzzing neon lights of one of the worlds most futuristic cities, to
            ancient
            temples nestled on top of snowy mountains, this beautiful country is a cultural & visual
            experience
            that is truly like nowhere else on the planet! Combine this with some of the friendliest locals
            around and some of the tastiest food in the world and you have got a country that should
            absolutely be
            on your bucket list!
        </p>

    </div>

</div>
<div class="section-3 box"></div>
<div class="section-4">
    <div class="forecast-headings">

        <h1>Cherry blossom <span>forecast</span></h1>
        <h2>When is the best time to see cherry blossom?</h2>

        <div class="sakura-info">
            <p>
                Planning your dream trip to Japan in spring for cherry blossom season? Here is where and
                when
                is the best time to see the cherry blossoms in Japan
            </p>
        </div>

        <div class="note-short-info">
            <p>
                Note: Temperatures, rain and wind have a strong effect on the process of the cherry
                blossom season, for
                example, they can accelerate, delay or shorten it considerably.
            </p>
        </div>

        <!-- <div class="hanami-short-info">
            <p>
                Hanami means "flower viewing" in Japanese. Enjoying beautiful cherry blossom is an old
                Japanese custom from a long time ago.
                Note: Temperatures, rain and wind have a strong effect on the process of the cherry
                blossom season, for
                example, they can accelerate, delay or shorten it considerably.
            </p>
        </div> -->

        


    </div>

    <div id="japan-wrapper">


        <img src="./static/img/japan-map.png" alt="" id="japan">
        <div class="container tokyo-container">
            <div class="tokyo-icon">
                <i class="fa-solid fa-location-dot fa-l"></i>
                <a href="">TOKYO</a>
            </div>
        </div>

        <div class="container sendai-container">
            <div class="sendai-icon">
                <i class="fa-solid fa-location-dot fa-l"></i>
                <a href="">SENDAI</a>
            </div>
        </div>

        <div class="container sapporo-container">
            <div class="sapporo-icon">
                <i class="fa-solid fa-location-dot fa-l"></i>
                <a href="">SAPPORO</a>
            </div>
        </div>

        <div class="container nagoya-container">
            <div class="nagoya-icon">
                <i class="fa-solid fa-location-dot fa-l"></i>
                <a href="">NAGOYA</a>
            </div>
        </div>

        <div class="container kyoto-container">
            <div class="kyoto-icon">
                <i class="fa-solid fa-location-dot fa-l"></i>
                <a href="">KYOTO</a>
            </div>
        </div>

        <div class="container osaka-container">
            <div class="osaka-icon">
                <i class="fa-solid fa-location-dot fa-l"></i>
                <a href="">OSAKA</a>
            </div>
        </div>

        <div class="container kumamoto-container">
            <div class="kumamoto-icon">
                <i class="fa-solid fa-location-dot fa-l"></i>
                <a href="">KUMAMOTO</a>
            </div>
        </div>






        <!-- Display cards on hover -->

        <div class="card tokyo-card">
            <div class="card-header">
                <img src="./static/img/tokyo.jpeg" alt="card__image" class="card__image" width="350"
                    height="180">
            </div>
            <div class="card-body">
                <h4>Tokyo</h4>
                <p>Best viewing: March 28 to April 3</p>

            </div>
        </div>

        <div class="card sendai-card">
            <div class="card-header">
                <img src="./static/img/sendai.jpg" alt="card__image" class="card__image" width="350"
                    height="180">
            </div>
            <div class="card-body">
                <h4>Sendai</h4>
                <p>Best viewing: April 11 to 17</p>

            </div>
        </div>

        <div class="card sapporo-card">
            <div class="card-header">
                <img src="./static/img/sapporo.jpg" alt="card__image" class="card__image" width="350"
                    height="180">
            </div>
            <div class="card-body">
                <h4>Sapporo</h4>
                <p>Best viewing: April 25 to May 1</p>

            </div>
        </div>

        <div class="card nagoya-card">
            <div class="card-header">
                <img src="./static/img/nagoya.jpg" alt="card__image" class="card__image" width="350"
                    height="180">
            </div>
            <div class="card-body">
                <h4>Nagoya</h4>
                <p>Best viewing: March 29 to April 4</p>

            </div>
        </div>

        <div class="card kyoto-card">
            <div class="card-header">
                <img src="./static/img/kyoto.jpg" alt="card__image" class="card__image" width="350"
                    height="180">
            </div>
            <div class="card-body">
                <h4>Kyoto</h4>
                <p>Best viewing: March 30 to April 6</p>

            </div>
        </div>


        <div class="card osaka-card">
            <div class="card-header">
                <img src="./static/img/osaka.jpg" alt="card__image" class="card__image" width="350"
                    height="180">
            </div>
            <div class="card-body">
                <h4>Osaka</h4>
                <p>Best viewing: March 29 to April 5</p>

            </div>
        </div>


        <div class="card kumamoto-card">
            <div class="card-header">
                <img src="./static/img/kumamoto.jpg" alt="card__image" class="card__image" width="350"
                    height="180">
            </div>
            <div class="card-body">
                <h4>Kumamoto</h4>
                <p>Best viewing: March 27 to April 2</p>

            </div>
        </div>
    </div>

</div>


