
<div *ngIf="postList" class="posts">
    <!-- Single Card -->
    <div  *ngFor="let post of postList" [post]="post" class="posts-item">
        <div class="recent-post-card">
            <div class="recent-post-card-img">

                <img src={{post.image}}>

            </div>
            <div class="recent-post-card-content">
                <h1 class="category">{{post.categoryId.categoryName}}</h1>
                <p class="author">Author: {{post.userId.username}}</p>
                <p class="date-added">Added: {{post.created_at}}</p>
                <!-- <button class="post-details">View more</button> -->
            </div>
        </div>
    </div>
    
</div>
<div *ngIf="!postList"><p>Loading...</p></div>
<div *ngIf="postList.length === 0"><p>No posts yet!</p></div>