<header>

    <nav class="navigation-menu">

        <ul class="menu">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/catalog">Catalog</a></li>
            <div class="unlogged" *ngIf="!isLogged">

                <li><a routerLink="/user/login">Login</a></li>
                <li><a routerLink="/user/register">Register</a></li>
            </div>
            <div class="logged" *ngIf="isLogged">

                <li><a routerLink="/category/new">Create</a></li>
                <li><a routerLink="/user/profile">{{currentUser.username}}'s Profile</a></li>
                <li><a routerLink="/" (click)="logoutHandler()">Logout</a></li>
            </div>
        </ul>

    </nav>
</header>
