<section id="create-page">
    <div class="createSection">
        <div class="info-create">
            <h2>Share your trip to Japan with others!</h2>
        </div>

        <form action="#" method="" class="createForm">
            <h2>Add Your Trip</h2>
            <ul class="noBullet">
                <li>
                    <label for="title">Category Title:</label>
                    <input type="text" class="inputFields" id="title" placeholder="Tokyo" name="" value="" />
                </li>
                                
                <li>
                    <label for="image">Image:</label>
                    <input type="text" class="inputFields" id="image" placeholder="http:/..." name="" value="" />
                </li>
                <li>
                    <label for="description">Description:</label>
                    <textarea id="description" class="inputFields" name="" placeholder="Tokyo, the heart of Japan..."></textarea>
                </li>
                <li id="center-btn">
                    <button id="create-btn">Create</button>
                </li>
            </ul>
        </form>

    </div>
</section>