<section id="create-page">
    <div class="createSection">
        <div class="info-create">
            <h2>Share your experience in Japan with others!</h2>
        </div>

        <form #f="ngForm" (ngSubmit)="submitHandler(f.value)" class="createForm">
            <h2>Add Your Trip</h2>
            <ul class="noBullet">
                <li>
                    <label for="categoryName">Category Title:</label>
                    <input  #categoryName="ngModel" type="text" class="inputFields" id="categoryName" placeholder="Tokyo" name="categoryName" ngModel required minlength="5" />
                    <p class="error" *ngIf="categoryName.touched && categoryName.errors?.required">
                        Category name is required!
                      </p>
                      <p class="error" *ngIf="categoryName.touched && categoryName.errors?.minlength">
                        Category name must be at least 5 characters long!
                      </p>
                </li>
                                
                <li>
                    <label for="categoryImage">Image:</label>
                    <input #categoryImage="ngModel" type="text" class="inputFields" id="categoryImage" name="categoryImage" placeholder="http:/..." ngModel required />
                    <p class="error" *ngIf="categoryImage.touched && categoryImage.errors?.required">
                        Category image is required!
                      </p>
                </li>
                <li>
                    <label for="postText">Description:</label>
                    <textarea #postText="ngModel" id="postText" class="inputFields" name="postText" placeholder="Tokyo, the heart of Japan..."
                    ngModel required minlength="20" ></textarea>
                    <p class="error" *ngIf="postText.touched && postText.errors?.required">
                        Post text is required!
                      </p>
                      <p class="error" *ngIf="postText.touched && postText.errors?.minlength">
                        Post text must be at least 20 characters long!
                      </p>
                </li>
                <li id="center-btn">
                    <button [disabled]="f.invalid" id="create-btn">Create</button>
                    <button routerLink="/catalog" id="cancel-btn">Cancel</button>
                </li>
            </ul>
        </form>

    </div>
</section>